<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatsappclone">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAppClone">
        <activity
            android:name=".activity.RegisterGroupActivity"
            android:label="@string/title_activity_register_group"
            android:parentActivityName=".activity.GroupActivity"
            android:theme="@style/Theme.WhatsAppClone.NoActionBar"></activity>
        <activity
            android:name=".activity.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.WhatsAppClone.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.WhatsAppClone.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>